<!--Property and event binding -->
<div>
  <label>Server Name</label>
  <!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateServername($event)">-->
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
  <!--<p>{{serverName}}</p>-->
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add server
  </button>
  <!--<p [innerText]="allowNewServer"></p>-->
  <!--<p>{{serverCreationStatus}}</p>-->

  <!--Structural directive example-->
  <p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
  <!--Local reference example. Alternatively you can use nagated if instead of else and ref-->
  <ng-template #noServer>
    <p>No server was created!</p>
  </ng-template>
</div>

<hr>
<div>
  <!--creates local variable server which is an element from servers array-->
  <app-server *ngFor="let server of servers"></app-server>
</div>
<hr>

<!--Data binding practise-->
<div>
  <label>User Name</label>
  <input
    type="text"
    class="form-control"
    (input)="onUpdateUserName($event)"
    [(ngModel)]="userName">
  <p>{{userName}}</p>
  <button
    class="btn btn-primary"
    [disabled]="isUserNameEmpty()"
    (click)="onResetUser()">Reset user
  </button>
</div>
<hr>

<!--directives practise-->
<div>
  <button
    class="btn btn-primary"
    (click)="toggleSecretPassword()">Display Details
  </button>
  <p *ngIf="isAccessGranted">Secret Password = Bass</p>
  <p
    *ngFor="let element of clicksArray"
    [ngStyle]="{backgroundColor: element>4 ? 'blue':'transparent'}"
    [ngClass]="{fifthElement: element>4}">{{element}}
  </p>
</div>
